@font-face {
    font-family: 'victor_serif_trialregular';
    src: url('victorseriftrial-regular-webfont.woff2') format('woff2'),
         url('victorseriftrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'victor_serif_trialthin';
    src: url('victorseriftrial-thin-webfont.woff2') format('woff2'),
         url('victorseriftrial-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Golden Plains';
    src: url('GoldenPlains.woff2') format('woff2'),
        url('GoldenPlains.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  height: 80vh;

  &.post {
    h1 {
      display: none;
    }
  }

  h1 {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: 'victor_serif_trialthin';
    letter-spacing: 0.5px;
    color: #e6e6e6;
    font-size: 52px;
    z-index: 10;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

    span {
      transition: all ease-in-out 0.5s;
      &.open {
        color: #121212;
      }
    }
  }
}

.eh-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  height: 0;
  transition: all ease-in-out 0.5s;
  margin-top: 15px;

  &.open {
    transition-delay: 0.5s;
    display: block;
    height: 173px;
  }

  li {
    margin-top: 6px;
  }
}

.eh-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include mq($from: desktop) {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq($from: wide) {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.eh-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eh-post_base {
  flex-basis: 100%;
  width: 100%;
  min-height: 300px;
  position: relative;
  margin-bottom: 20px;

  @include mq($from: desktop) {
    flex-basis: 32%;
    width: 32%;
    margin-bottom: 200px;
  }

  h2 {
    font-family: monospace;
    font-weight: 100;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: -40px;
  }

  &:nth-child(1) {
    flex-basis: 100%;
    width: 100%;

    @include mq($from: desktop) {
      flex-basis: 50%;
      width: 50%;
    }

    h2 {
      position: absolute;
      right: -40px;
      top: 0px;
      transform: rotate(90deg);
    }
  }

  &:nth-child(6n+6) {
    flex-basis: 100%;
    width: 100%;

    @include mq($from: desktop) {
      flex-basis: 50%;
      width: 50%;
    }

    h2 {
      position: absolute;
      right: -40px;
      top: 0px;
      transform: rotate(90deg);
    }
  }

  &:nth-child(2n+2) {
    margin-top: 20px;

    @include mq($from: desktop) {
      margin-top: 200px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-family: 'Golden Plains';
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 5px;
  }

  .eh-image_wrapper {
    position: relative;

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 10;
      cursor:url('/uploads/crosshair.png'), auto;
    }
  }

  .eh-image_cover {
    transition: all ease-in-out 0.75s;
    opacity: 1;

    &.inview {
      opacity: 1;
    }
  }

  .eh-image-num {
    font-size: 12px;
    font-family: monospace;
    margin-top: 10px;
    letter-spacing: -3px;
  }
}

.eh-post__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor:pointer;

  .eh-image-num {
    font-size: 12px;
    font-family: monospace;
    margin-top: 10px;
    position: fixed;
    bottom: 10px;
    left: 20px;
    transform: rotate(-90deg);
    transform-origin: left;

    @include mq($from: desktop) {
      left: 2%;
      bottom: 30px;
      left: 10%;
      transform: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .eh-cover {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background-color: #ded6cfd4;
    padding: 20px;
    display: flex;
    transition: all ease-in 0.5;
    transition-delay: 1s !important;
    flex-direction: column;

    @include mq($from: desktop) {
      flex-direction: row;
      position: absolute;
    }

    &.darkColour {
      p {
        color: #fff;
      }
    }

    p {
      font-family: 'victor_serif_trialthin';
      font-size: 20px;
      line-height: 1.3;
      max-width: 80%;

      @include mq($from: desktop) {
        max-width: 600px;
        font-size: 30px;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        font-family: monospace;
      }
    }

    > div {
      flex-basis: 22%;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;

      @include mq($from: desktop) {
        height: 90vh;
        flex-basis: 50%;
      }

      h1 {
        font-family: 'Golden Plains';
        font-size: 40px;
        font-weight: 100;
        letter-spacing: 1px;
        margin-top: 32px;
      }

      img {
        width: 90%;
        height: auto;
        position: relative;
        bottom: 0;

        @include mq($from: desktop) {
          position: absolute;
        }
      }
    }
  }

  .eh-carousel {
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
    transition-delay: 0.1s;
    pointer-events: none;

    &.display {
      pointer-events: all;
      opacity: 1;
    }
  }

  .eh-images {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 72%;

    @include mq($from: desktop) {
      height: 78vh;
      width: auto;
    }
    @include mq($from: wide) {
      height: 78vh;
      width: auto;
    }

    img {
      width: 100%;
      height: auto;

      @include mq($from: desktop) {
        width: auto;
        height: 100%;
      }

    }
  }

  .eh-quote {
    h2 {
      font-family: 'victor_serif_trialthin';
      font-size: 70px;
      line-height: 1.2;
      text-align: center;
    }
  }

  .eh-name {
    position: fixed;
    top: 20px;
    right: -20px;
    transform: rotate(90deg) translate(50%, -50%);
    transform-origin: center;
    z-index: 100;

    h1 {
      font-size: 12px;
      font-family: monospace;
      font-weight: 100;
    }
  }

  .eh-image_number {
    border-bottom: none;

    &.current {
      border-bottom: 1px solid #121212;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }

  .about-client-list {
    flex-basis: 100px;
    margin-top: 80px;
    font-family: monospace;
  }
}

.about-intro {
  font-family: 'victor_serif_trialthin';
  font-size: 33px;
  line-height: 1.2;
  max-width: 800px;
  background-color: #fff;

  @include mq($from: desktop) {
    font-size: 50px;
  }
}

.about-footer {
  position: fixed;
  bottom: 50px;
  font-family: monospace;
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }


  span {

    @include mq($from: desktop) {
        margin-left: 20px;
    }

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}
