---
layout: default
---

<div class="eh-posts eh-wrapper">
  {% for post in site.posts %}
      <div class="eh-post_base">
        <h2>{{post.Extras}}</h2>
        <div class="eh-image_wrapper">
          <a href="{{post.url}}"></a>
          <img class="eh-image_cover" src="{{post.Images[0].Image}}">
        </div>
        <div class="eh-image-num">
          {% assign image = post.Images %}
          {% for image in image %}
            {{ forloop.index }}
          {% endfor %}
        </div>
        <h1>{{post.title}}</h1>
      </div>
  {% endfor %}
</div>
