---
layout: default
---

<div class="eh-post__wrapper">
  <ul>
    <!-- <li class="eh-cover eh-carousel">
      {% if content %}
      <div class="eh-intro">
        <a href="/"><h1>{{page.title}}</h1></a>
        <p>{{content}}</p>
      </div>
      {% endif %}
      <div class="eh-intro_image">
        <img class="intro_image" src="{{page.MainImage}}">
      </div>
    </li> -->
  <li class="eh-cover eh-carousel">
    <div class="eh-intro">
      <a href="/"><h1>{{page.title}}</h1></a>
      <p>{{content}}</p>
    </div>
    <div class="eh-intro_image">
      <img class="intro_image" src="{{page.MainImage}}">
    </div>
  </li>
  {% assign image = page.Images %}
  {% for image in image %}
    <li class="eh-images eh-carousel {% if image.Quote %}eh-quote{% endif %}">
      {% if image.Image %}
        <img src="{{image.Image}}">
      {% endif %}
      {% if image.Quote %}
        <h2>{{image.Quote}}</h2>
      {% endif %}
    </li>
  {% endfor %}
  <div class="eh-image-num">
    <span class="eh-image_number">
      0
    </span>
    {% assign image = page.Images %}
    {% for image in image %}
      <span class="eh-image_number">
        {{ forloop.index }}
      </span>
    {% endfor %}
  </div>
  </ul>
</div>
